		body {
			padding-left:4em;
			padding-right:4em;
			background-color: #193549;
			color: #ccc;
		}
		a {
			color:#fff;
		}
		textarea {
			background-color: #122738;
			color: #fff;
			border: solid 1px #ccc;
			padding: 1em;
			border-radius: .5em;
			width:100%;
		}
		.container {
			display: flex;
			flex-direction: column;
			max-width: 1024px; 
			margin-left: auto; 
			margin-right: auto;
		}